<h1>User<%= @user.id%>のマイページ</h1>
<p>名前：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<%= link_to '読んだ本', read_user_path %>
<%= link_to '読んでいる本', reading_user_path %>
<%= link_to '読みたい本', wish_user_path %>
<p>ページ数：<%= @book_pages %>ページ</p>
<p>ワード数：<%= @book_words %>ワード</p>
<section class="stats">
      <%= render 'shared/stats' %>
</section>

<h1>ChartSample#index</h1>
<div width="300px">
   <canvas id="myChart" width="200" ></canvas> 
</div>

<script>draw_graph();</script>
<%= render 'follow_form' if user_signed_in? %>