<h1>User<%= @user.id%>のマイページ</h1>
<p>名前：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<%= link_to '本棚', books_path( user_id: @user.id) %>
<p>ページ数：<%= @book_pages %>ページ</p>
<p>ワード数：<%= @book_words %>ワード</p>
<section class="stats">
      <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' if user_signed_in? %>