<div>
  <h5>タイトル</h5>
  <% @books.each do |book|%>
  <div>
    <ul>
        <%= image_tag book.image if book.image? %>
      <li>タイトル：<%= book.title %></li>
      <li>著者：<%= book.author %></li>
      <li>ページ数: <%= book.page_count %></li>
    </ul>
     <ul>
       <li><%= link_to '読んだ本', books_path(googlebooksapi_id: book.googlebooksapi_id, book: {category: 1}), method: :post %></li>
       <li><%= link_to '読んでいる本', books_path(googlebooksapi_id: book.googlebooksapi_id, book: {category: 2}), method: :post %></li>
       <li><%= link_to '読みたい本', books_path(googlebooksapi_id: book.googlebooksapi_id, book: {category: 3}), method: :post %></li>
     </ul>
     
    <div>
      <%= form_with url: {controller: 'books', action: 'create'} do |f| %>
      <%= f.hidden_field :googlebooksapi_id, value: book.googlebooksapi_id %>
      <%= f.submit "書籍登録"%>
    <% end %>
    </div>
  </div>
  <% end %>
  <%#= render partial: 'books/book_search', colletction: @books, as: :book %> 
</div>