<p><%= image_tag @google_book.image if @google_book.image? %></p>
<p><%= @google_book.title %></p>
<p><%= @google_book.author %></p>
<p><%= @google_book.description %></p>
<p><%= @google_book.published_at %></p>
<p><%= @google_book.publisher %></p>
<p><%= @google_book.page_count %></p>
<p><%= @google_book.buy_link %></p>


  <% @reviews.each do |review| %>
  <div>
    
    <%= review.user.name%>
    <%= review.content %>
  </div>
  <% end %>
<%= will_paginate @reviews %>





